.show-contents {
  background-color: #444444;
  .show-container {
    max-width: 800px;
    margin: 0 auto;
    background-color:black;
    .show-image {
      padding-top: 30px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid white;
      img {
        border: 1px solid white;
      }
      .average-review-rating {
        margin: 0 auto;
        padding-top: 10px;
      }
    }
    .show-text {
      padding-top: 30px;
      display: flex;
      color: white;
      .left-title {
        width: 30%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-right: 1px solid #ccc;
      }
      .right-text {
        width: 70%;
        font-size: 18px;
        padding-left: 20px;
      }
      a{
        color:white;
        text-decoration: none;
      }
      .edit-btn {
        background: #0068d9;
        border: 1px solid #0068d9;
        color: #fff;
        display: block;
        width: 43%;
        height: 100%;
        margin: 0 auto;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        transition: all ease-out .4s;
        &:hover {
          background-color: #004ba0;
        }
      }
      .delete-btn {
        background: #444444;
        border: 1px solid #444444;
        margin: 0 auto;
        color: #fff;
        display: block;
        width: 43%;
        height: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        transition: all ease-out .4s;
        &:hover {
          background-color:lightgray ;
        }
      }
    }
    .show-review {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      border-bottom: 1px solid #f3f3f3;
      color: white;
      .left-title {
        width: 30%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-right: 1px solid #ccc;
      }
      .right-text {
        width: 70%;
        font-size: 18px;
        padding-left: 20px;
        h2 {
          font-size: 25px;
          text-align: center;
        }
        .review-box {
          max-width: 94%;
          margin-top: 20px;
          padding-left: 10px;
          border: 1px solid white;
          &__username{
            padding-top: 3px;
          }
          &__body {
            padding-top: 3px;
          }
          a {
            text-decoration: none;
            color: white;
            display: inline-block;
          }
          .review-edit {
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #0068d9;
            margin-left: 210px;
          }
          .review-delete {
            margin-top: 5px;
            background: #444444;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.post-review {
  width: 100px;
  height: 100px;
  background-color: #0068d9;
  text-align: center;
  border-radius: 8%;
  bottom: 32px;
  right: 20px;
  position: fixed;
  padding: 15px;
  transition: all ease-out .4s;
  &:hover {
    background-color: #004ba0;
  }
  a {
    text-decoration: none;
  }
  &__text{
    color: white;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    .icon {
      font-size: 50px;
      color: white;
    }
  }
}