.single-main {
  display: block;
  background-color: #444444;
  .login-single-container {
    max-width: 600px;
    margin: 0 auto;
    background-color:black;
    .login-single-head {
      padding: 40px 64px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
      color: white;
    }
    a{
      color:white;
      text-decoration: none;
     }
      .user-newsession {
        margin: 10px 0 0;
        background: lightgray;
        border: 1px solid lightgray;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 40px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        transition: all ease-out .4s;
        &:hover {
          background-color: #0068d9;
        }
        
      }
        .login-single-inner {
          width: 100%;
          }
          
    .login-single-content {
      border-top: 1px solid #f5f5f5;
      padding: 5px 64px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: bold;
      h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
      }
      .form-group{
        padding-top: 30px;
        color: white;
        .login-input-default {
          width: 90%;
          margin: 8px 0 0;
          height: 30px;
          padding: 10px 16px 8px; 
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1 ;
          font-size: 14px;
        }
        .easy-login {
          margin: 30px 0 0;
          background: #0068d9;
          border: 1px solid #0068d9;
          color:white;
          display: block;
          width: 100%;
          line-height: 40px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          margin-bottom: 70px;
          a{
            color:white;
          }
        }
        .user-login {
          margin: 30px 0 0;
          background: #0068d9;
          border: 1px solid #0068d9;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 40px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          margin-bottom: 70px;
          a{
            color:white;
          }
        }
      }
    }
  }
}